# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# Python cache
__pycache__/
*.py[cod]
*$py.class

venv/
.env/
env/

# IDE
.vscode/
.idea/
*.bin
*.txt
.pt
train_logs/
main/my_sft_complete_model
main/my_hf_model
main/my_sft_model
ceval_all_local